.dashboard-container {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.header {
  align-items: center;
  justify-content: end;
}
.dashboard-container > .header > .heading {
  width: auto;
  font-weight: 600;
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.adopted {
  font-size: 30px;
}
